<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugle.springboot.mapper.InfoMapper">

  <!--    public Info getInfoById(Integer id);-->
  <select id="getInfoById" resultType="com.yugle.springboot.pojo.Info">
    SELECT  * FROM  info WHERE  id=#{id}
  </select>

</mapper>